@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --navbar-font-color: #000;
    --body-font-color: #ffffff;
    --primary-color: #1a1a1a;
    --secondary-color: #99E54D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    border: none;
    outline: none;
}

.header-section {
    height: 100dvh;
    width: 100dvw;
}

.navbar {
    height: 10dvh;
}

.navbar>ul {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

.navbar>ul>li {
    /* border: 1px solid black; */
    list-style: none;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: var(--navbar-font-color);
    font-size: 1.2rem;
    font-weight: 400;
}


.header-section>main {
    height: 140vh;
    width: 100vw;
    position: relative;
}

.hero-img-container {
    height: 100%;
    width: 100%;
}

.hero-img-container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-content-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    color: var(--body-font-color);
}

.hero-text {
    height: 100%;
    width: 44%;
    /* border: 1px solid #ffffff; */
    padding: 6rem 3rem 3rem 7rem;
}

.offer-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    position: relative;
    margin-bottom: 1rem;
}

.offer-container-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--navbar-font-color);
}

.discount-price {
    font-size: 3.5rem;
    font-weight: 700;
}

.offer-text {
    font-size: 1.1rem;
    font-weight: 600;
}

.new-restaurant {
    font-size: 1.3rem;
    font-weight: 600;
}

.heading {
    /* border: 1px solid #ffffff; */
    width: 100%;
    font-size: 4rem;
    text-transform: none;
}

.img-source {
    font-size: 1.2rem;
    text-transform: none;
    margin-top: 1rem;
}

.img-source>a {
    text-transform: none;
    text-decoration: none;
    color: var(--secondary-color);
}

.hero-btn>button {
    height: 48px;
    width: 160px;
    margin-top: 2rem;
    border-radius: 40px;
    border: none;
    background-color: #F1AE0E;
    color: var(--body-font-color);
    font-size: 0.9rem;
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .navbar>ul {
        display: none;
    }

    .menu-btn {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-btn>i {
        font-size: 30px;
    }

    .hero-text {
        padding-top: 13rem;
        width: 80%;
    }
}

.section__02 {
    height: 100vh;
    width: 100vw;
    margin-top: 45vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec__02__wrapper {
    height: 80%;
    width: 85%;
    /* border: 1px solid #ffffff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.sec__02__box {
    height: 75%;
    width: 35%;
    border-radius: 30px;
    position: relative;
}

.sec__02__box .effect {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.sec__02__img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px #353434;
}

.sec__02__img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 30px;
}

.sec__02__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--body-font-color);
}

.section__03,
.section__05,
.section__07 {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    color: var(--body-font-color);
}

.sec__03__wrapper,
.sec__05__wrapper,
.sec__07__wrapper {
    height: 100%;
    width: 100%;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec__03__content__container {
    width: 50%;
}

.sec__03__heading,
.sec__05__heading,
.sec__07__heading {
    font-size: 3rem;
    font-weight: 700;
}

.sec__03__sub__heading,
.sec__05__sub__heading,
.sec__07__sub__heading {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.sec__03__paragraph,
.sec__05__paragraph,
.sec__07__paragraph {
    text-align: justify;
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
}

.order_now__btn {
    margin-top: 1.2rem;
}

.order_now__btn>button {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    background-color: var(--secondary-color);
    color: #000;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.sec__03__image__container,
.sec__05__image__container,
.sec__07__image__container {
    height: 90%;
    width: 46%;
    border-radius: 40px;
}

.sec__03__image__container>img,
.sec__05__image__container>img,
.sec__07__image__container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.section__04 {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}

.sec__04__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 5rem;
    padding-left: 5rem;
    margin: 0 auto;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.sec__04__img {
    height: 65%;
    width: 30%;
    border-radius: 40px;
}

.sec__04__img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.sec__05__content__container,
.sec__07__content__container {
    width: 50%;
}

.section__06 {
    height: 200vh;
    width: 100vw;
    background-color: var(--primary-color);
    color: var(--body-font-color);
}

.sec__06__wrapper {
    height: 100%;
    width: 100%;
    padding: 2rem 5rem;
}

.sec__06__heading__container {
    height: 10%;
    /* border: 1px solid white; */
    text-align: center;
}

.sec__06__heading {
    font-size: 3rem;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 1.5px;
}

.sec__06__sub__heading {
    font-size: 1.2rem;
    text-transform: none;
    font-weight: 200;
}

.golden__text {
    text-transform: none;
    color: #F1AE0E;
}

.sec__06__menu__container {
    height: 90%;
    /* border: 1px solid white; */
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);
    row-gap: 1.5rem;
}

.item__container {
    /* border: 1px solid white; */
    text-align: center;
}

.item__image {
    height: 80%;
    width: 80%;
    border-radius: 40px;
    margin: 0 auto;
}

.item__image>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.item__name {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.85rem 0;
}

.read__more__btn>button {
    height: 50px;
    width: 150px;
    border-radius: 40px;
    background-color: var(--secondary-color);
    color: #000;
    font-weight: 300;
    border: none;
    cursor: pointer;
}

.section__08 {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.sec__08__img__container {
    height: 100%;
    width: 100%;
}

.sec__08__img__container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec__08__content__wrapper {
    position: absolute;
    top: 0;
    color: var(--body-font-color);
    padding: 6.5rem 5rem;
}

.sec__08__heading {
    text-transform: none;
    font-size: 3rem;
    font-weight: 600;
}

.sec__08__email__section {
    text-transform: none;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

.input__section {
    display: flex;
}

.input__section>input[type="text"] {
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 20px;
    margin-right: 1rem;
}

.input__section>input[type="text"]:focus {
    border: none;
    outline: none;
    color: var(--navbar-font-color);
    padding: 1.2rem;
}

.submit__btn {
    height: 50px;
    width: 150px;
    border-radius: 40px;
    background-color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

footer {
    height: 60vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-font-color);
}

.footer__content__wrapper {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    /* border: 1px solid #ffffff; */
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid #ffffff; */
    padding-top: 4rem;
}

.footer__icon {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 55px;
}

.icon__details {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0.85rem 0 1.5rem 0;
}

.details > p{
    text-transform: none;
    font-weight: 600;
}

.credit {
    height: 10vh;
    width: 100vw;
    background-color: #353434;
    text-align: center;
    line-height: 10vh;
    color: var(--body-font-color);
    font-size: 1.5rem;
}

.name {
    text-transform: none;
}
